:root {
    --background: #151515;
    --content-bg: #242424;
    --info-bg: #333333;
    --red: #c21807;
    --light-red: #b63d32;
    --blue: #303fe1;
    --light-blue: #3d5afe;
}

html {
    height: 100%;
}

* {
    font-family: 'JetBrains Mono', monospace;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: var(--background);
}

[data-tooltip] {
    position: relative;
    z-index: 10;
}

[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + 5px);
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
}

[data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 10px 18px;
    min-width: 25px;
    max-width: 300px;
    width: max-content;
    width: -moz-max-content;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%, -5px) translateY(100px) scale(0.5);
}

[data-tooltip]:after {
    content: '';
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.5);
    transition-duration: 0s;
    transform-origin: top;
    transform: translateX(-50%) translateY(100px) scaleY(0);
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

[data-tooltip]:hover:before {
    transition-delay: 0.3s;
    transform: translate(-50%, -5px) translateY(100px) scale(1);
}

[data-tooltip]:hover:after {
    transition-delay: 0.5s;
    transition-duration: 0.2s;
    transform: translateX(-50%) translateY(45px) scaleY(1);
}

.header {
    float: left;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 80vh;
    min-height: inherit;
    text-align: center;
    padding: 65px 30px 45px;
    overflow: auto;
}

.header .copyright {
    color: #fff;
    width: 380px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 10px 15px;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
}

.content-area {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: transparent;
    height: 100%;
    width: 100%;
    max-width: calc(100% - 380px);
}

.section-content {
    padding: 60px;
    background-color: var(--content-bg);
    border-radius: 32px;
    position: relative;
    height: auto;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-transform: none;
}

.page-title {
    display: block;
    position: relative;
    margin-bottom: 30px;
}

.page-title::after {
    position: absolute;
    opacity: 0.7;
    top: -10%;
    left: -12px;
    content: '';
    height: 25px;
    width: 25px;
    background-image: -webkit-repeating-radial-gradient(center center, #c21807, #c21807 1px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #c21807, #c21807 1px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #c21807, #c21807 1px, transparent 0px, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: 0;
}

.page-title h1 {
    position: relative;
    color: #fff;
    font-size: 32px;
    z-index: 1;
}

.page-about {
    color: #999;
    font-weight: 100;
    font-size: 18px;
}

.page-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0 122px;
    overflow: hidden;
}

.page-info {
    position: relative;
    z-index: 999;
    width: 100%;
    min-height: 80vh;
    border-radius: 32px;
    max-width: 1280px;
    hyphens: auto;
    word-wrap: break-word;
    margin: 10vh auto;
    padding: 0;
    background: var(--info-bg);
    backface-visibility: hidden;
}

img {
    vertical-align: bottom;
}

.header-photo {
    position: relative;
    width: 180px;
    margin: 0 auto 30px;
    z-index: 1;
}

.header-photo img {
    max-width: 100%;
    background-color: var(--red);
    border: 3px solid var(--red);
    border-radius: 300px;
}

.header-photo:after {
    position: absolute;
    opacity: 0.3;
    top: 7%;
    left: 7%;
    border-radius: 300px;
    content: '';
    height: calc(100% + 0px);
    width: calc(100% + 0px);
    background-image: -webkit-repeating-radial-gradient(center center, #c21807, #fff 1px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #c21807, #fff 1px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #c21807, #fff 1px, transparent 0px, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: -1;
}

.header-titles h2 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin: 5px 0 7px;
    line-height: 1.2em;
}

.header-titles h4 {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin: 5px 0;
    line-height: 1.2em;
}

ol,
ul {
    margin: 1em 0;
}

.playing {
    margin: 20px 0;
    color: white;
    font-size: 18px;
}

.links {
    margin: 20px 0;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links ul li {
    display: inline-block;
}

.links ul li a {
    color: white;
    border-radius: 20px;
    font-size: 16px;
    padding: 0;
    height: 30px;
    width: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    opacity: 0.85;
}

.links ul li a:hover {
    color: var(--red);
}

.company {
    text-decoration: none;
    cursor: pointer;
}

.company.auraside {
    color: var(--red);
}

.company.auraside:hover {
    color: var(--light-red);
}

.company.sapphire {
    color: var(--blue);
}

.company.sapphire:hover {
    color: var(--light-blue);
}

#commit {
    color: #fff;
    width: 380px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 10px 35px;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    cursor: pointer;
    text-decoration: none;
}